{{!this is how to comment in hbs.}}
{{! extend the base layout}}
{{#extends 'base'}}

{{#block 'content'}}
<div style="border: 4px double black" class="my-3 p-3">
    <h1 class="mb-3" style="text-align:center; text-decoration:underline">Posters Available!</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Cost</th>
                <th>Description</th>
                <th>Date</th>
                <th>Stock</th>
                <th>Height</th>
                <th>Width</th>
            </tr>
        </thead>
        <tbody>
            {{#each posters}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.title}}
                </td>
                <td>
                    {{this.cost}}
                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.date}}
                </td>
                <td>
                    {{this.stock}}
                </td>
                <td>
                    {{this.height}}
                </td>
                <td>
                    {{this.width}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}

{{/extends}}